{% extends 'base.html' %}
{% block links %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css"/>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
	<script>
    	$(function() {
        	$("#id_fecha_inicio").datepicker({ dateFormat: 'yy-mm-dd'});
        	$("#id_fecha_fin").datepicker({ dateFormat: 'yy-mm-dd'});
    	});
	</script>
{% endblock %}
{% block opciones %}
	 
{% endblock %}
{% block contenido %}
	<form action="crearFechaEntrenador" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Crear" class="form-control"/>
	</form>
{% endblock %}