<html>

	<head>
		<title>SIADECO</title>
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  		<link href="{{STATIC_URL}}css/justified-nav.css" rel="stylesheet" media="screen">
  		<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css"/>
  		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
  		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
  		<style type="text/css">
  			.titulo, .texto{
  				color: rgb(169,3,41);
  			}
  		</style>
	</head>

	<body>
		
  <a href="/admin" class="btn btn-default navbar-btn" style="float: right;"><span class="glyphicon glyphicon-briefcase"></span> Modulo de Administrador</a>
  <img src="{{STATIC_URL}}img/imgHeader.png" alt="Escudo" class="img-responsive">
  <img src="{{STATIC_URL}}img/ajedrez.jpg" alt="Escudo" class="img-responsive" HEIGHT="800" WIDTH="600">
  <a href="/login" class="btn btn-primary btn-lg in">Ingresar</a></h3>

  <div class="panel-footer">Derechos Reservados &copy; 2014</div>
	</body>

</html>